*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Thumbs.db
.vscode/
*.log
node_modules/




*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
build/
proguard/
*.log
.navigation/
captures/
.idea/
*.iml
*.ipr
*.iws
.DS_Store
*.jks